<mat-card class="add-staff">
    <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Staff Name</mat-label>
          <input matInput placeholder="Staff Name">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="Enter Mobile Number">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field  appearance="outline">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Enter Address"></textarea>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Experience</mat-label>
          <textarea input matInput placeholder="Enter Experience"></textarea>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter UserName">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field >
            <mat-label>Password</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </mat-card-content>
       
        <mat-card-content class="btn">
        <button mat-raised-button class="add-btn">Add</button>
    </mat-card-content>
</mat-card>
