.header{
    position:fixed;
    background-color: #eb7449;
    z-index: 1000;
    display: flex;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: black; 
}

.space{
    margin-right: 10px;
}