
.login-c {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background: rgb(253, 250, 250); 
  }
  
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
  }
  
 
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  .logo-container {
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 15px;
  }
  .logo{
    border-radius: 50%;
    margin-bottom: 10px;
    width:40%;
  }
  
  
  @media (max-width: 480px) {
    .login-card {
      padding: 15px;
    }
  }
 