.main{
    display: flex;
    text-align: center;
    margin-top: 50px;
}
.card-content{
    margin-top: 10px;
}
.btn-outside{
    background-color: #fc8300;
    color:white;
    width: 30%;
    padding: 7px;
    

}
.btn-inside{
    color:#eb7449;
    padding:5px;
    width:10%;
}