<mat-card class="main">
    <h3>Cerate Quick Invoice</h3>
    <mat-card>
    <mat-card-content class="card-content">
        <mat-form-field appearance="outline">
          <mat-label>Customer Name</mat-label>
          <input matInput type="text" placeholder="Customer Name">
        </mat-form-field>
    </mat-card-content>

    <mat-card-content class="card-content">
        <mat-form-field appearance="outline">
          <mat-label>Customer Number</mat-label>
          <input matInput type="text" placeholder="Customer Name">
        </mat-form-field>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content class="card-content">
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput type="text" placeholder="Enter Product Name">
        </mat-form-field>
    </mat-card-content>

    <mat-card-content class="card-content">
        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="text" placeholder="Price">
        </mat-form-field>
    </mat-card-content>

    <mat-card-content class="card-content">
        <mat-form-field appearance="outline">
            <mat-label>Tax</mat-label>
            <input matInput type="text" placeholder="Tax">
        </mat-form-field>
    </mat-card-content>

    <mat-card-content >
        <button mat-button-raised class="btn-inside">ADD</button>
    </mat-card-content>


  </mat-card>
  <h5>Total Amount: </h5>
  <mat-card-content>
    <button mat-raised-button  class="btn-outside">Create Invoice</button>
  </mat-card-content>
</mat-card>