
<mat-card class="home-page">
    <mat-card class="title">
        <h4>Repairing Management</h4>
        </mat-card>
        <mat-card class="box" (click)="order()">
            <mat-icon>construction</mat-icon>
            <span>Repair Order</span>
        </mat-card>

        <mat-card class="box" (click)="demo()">
            <mat-icon>handshake</mat-icon>
            <span>Dealers Repairing</span>
        </mat-card>

        <mat-card class="box" (click)="demo()">
            <mat-icon>note_alt</mat-icon>
            <span>old Mobile Purchase Record</span>
        </mat-card>

        <mat-card class="box" (click)="demo()">
            <mat-icon>sticky_note_2</mat-icon>
            <span>Daily Profit Record</span>
        </mat-card>

        <mat-card class="box"(click)="staffmanage()">
            <mat-icon>group</mat-icon>
            <span>Staff Management</span>
        </mat-card>

        <mat-card class="home-page" >
            <mat-card class="title">
                <h4>Retail Shop</h4>
                </mat-card>
                <mat-card class="box"(click)="demo()">
                    <mat-icon>point_of_sale</mat-icon>
                    <span></span>
                </mat-card>
        
                <mat-card class="box" (click)="quickinvoice()">
                    <mat-icon>description</mat-icon>
                    <span>Quick Invoice</span>
                </mat-card>
        
                <mat-card class="box"(click)="demo()">
                    <mat-icon>local_mall</mat-icon>
                    <span>Local Market</span>
                </mat-card>
        
                <mat-card class="box"(click)="demo()">
                    <mat-icon>store</mat-icon>
                    <span>Official Market</span>
                </mat-card>


                <mat-card class="home-page">
                    <mat-card class="title">
                        <h4>Marketing</h4>
                        </mat-card>
                        <mat-card class="box"(click)="demo()" >
                            <mat-icon>group</mat-icon>
                            <span>Technician Community</span>
                        </mat-card>
                
                        <mat-card class="box"(click)="demo()">
                            <mat-icon>business_messages</mat-icon>
                            <span>Whatsapp Bulk Msg</span>
                        </mat-card>
                
                        <mat-card class="box"(click)="demo()">
                            <mat-icon>notifications</mat-icon>
                            <span>Auto Alert</span>
                        </mat-card>
                
                        <mat-card class="box"(click)="demo()">
                            <mat-icon>share</mat-icon>
                            <span>Refer & Earn Market</span>
                        </mat-card>
                        <div class="btn">
                        <button mat-raised-button class="log-out-btn" (click)="logout()">Log out</button>
                    </div>
</mat-card>