.title{
    text-align: center;
    justify-content: center;
    width:100%;
    background-color:#eb7449;
    margin-bottom: 20px;

}
.box{
    display:flex;
    text-align: center;
    align-items: center;
   padding: 10px;
   margin-bottom: 20px;
   

}
.log-out-btn{
    background-color: #eb7449;
    padding:10px;
    width:20%;
    border-radius: 15px;
}
.home-page{
    margin-top: 50px;
}
.btn{
    text-align: center;
}