<mat-card class="register-card">
    <h2>Registration Page</h2>
  <mat-card calss="card">
    <mat-card-content class="card-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" >
    </mat-form-field>
    </mat-card-content>

    <mat-card-content class="card-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Shop Name</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </mat-card-content>

  <mat-card-content class="card-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" >
    </mat-form-field>
    </mat-card-content>
  
    <mat-card-content class="card-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mobile No</mat-label>
      <input matInput type="text">
    </mat-form-field>
    </mat-card-content>
  
    <mat-card-content class="card-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>GST No</mat-label>
      <input matInput type="text" >
    </mat-form-field>
    </mat-card-content>

      <mat-card-content class="card-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Aadhar No</mat-label>
      <input matInput type="text" >
    </mat-form-field>
    </mat-card-content>

    <mat-card-content class="card-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput type="text" >
    </mat-form-field>
    </mat-card-content>

    <mat-card-content class="card-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" >
    </mat-form-field>
    </mat-card-content>

  
    <mat-card-content class="card-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" >
    </mat-form-field>
    </mat-card-content>

    <mat-card-content class="btn">

    <button mat-raised-button color="primary" (click)="registration()"  class="btn1" >
      Register
    </button>
</mat-card-content>
  </mat-card>
  </mat-card>
  